.h1 {
    background-color: mistyrose;
}

.h2 {
    background-color:peachpuff;
}

.h3 {
    background-color: darkseagreen;
}

.h4 {
    background-color: lavender;
}

.h5 {
    background-color: lemonchiffon;
}

.h6 {
    background-color: mintcream;
}
